<!doctype html>
<title>Tagger</title>


<div class=page>
    <h1>Tagger</h1>
    <div class=metanav>
        iniciando tagger
        
        <input type="text" name="product_type" id="product_type"/><br/>
        <input type="file" name="spreedsheet" id="spreedsheet"><br/>
        <button type="button" class="import_ss">Upload SpreedSheet</button>
        
    </div>
    <div id="progress"></div>
    {% block body %}{% endblock %}
</div>


<script src="//cdnjs.cloudflare.com/ajax/libs/nanobar/0.2.1/nanobar.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

<script type="text/javascript">
    $(document).ready(function(){
        $('.import_ss').click(function(){
            uploadSpreedSheet();            
        });  
    })

    function uploadSpreedSheet(){
         file = $('#spreedsheet')[0].files[0];
         var formData = new FormData();
         formData.append('product_type', $('#product_type').val());
         formData.append('spreedsheet', file);
         

         $.ajax({
            type: 'PUT',            
            url: '/tagger/api/v2/taxonomy_upload',
            data: formData,
            processData: false,
            contentType: false,
            success: function(data, status, request) {
                dataStr = JSON.stringify(data)
                var obj = $.parseJSON(dataStr);
                var status_url = request.getResponseHeader('Location')                

                var div = createResultDiv();
                var nanobar = createProgressBar(div);

                updateProgress(status_url, nanobar, div[0]);
            },
            error: function() {
                alert('Unexpected error');
            }
        });
    }

    function updateProgress(status_url, nanobar, div){
        $.getJSON(status_url, function(data){
            percent = parseInt(data['result']['progress']);
            nanobar.go(percent)
            $(div.childNodes[1]).text(data['result']['progress'] + '%');
            $(div.childNodes[2]).text(data['result']['message']);            
            $(div.childNodes[2]).text(data['result']['status']);            
            
            if( data['result']['status'] != 'PENDING' && data['result']['status'] != 'PROGRESS'){
                $(div.childNodes[2]).text('Something went wrong. Try again later.');            
            } else {
                setTimeout(function(){
                    updateProgress(status_url, nanobar, div);
                }, 20000);
            }
        })
    }

    function createResultDiv(){
        div = $('<div class="progress"><div></div><div>0%</div><div>...</div><div>&nbsp;</div></div><hr>');
        $('#progress').append(div);
        return div;
    }


    function createProgressBar(div){
        var nanobar = new Nanobar({
            bg: '#44f',
            target: div[0].childNodes[0]
        });
        return nanobar;
    }
</script>